@use '/src/style/css/mixin/font.scss';
@use '/src/style/css/variable/color.scss';

.root {
  width: 500px;
  padding: 40px;
}

.body {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font.font-20-500;
  color: color.$default-black-color;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;
  grid-template-columns: 130px 130px;
}
